@import "tailwindcss";

:root {
  --background: #012340;
  --foreground: #F2F2F2;
  --primary: #5F328C;
  --secondary: #4AB0D9;
  --success: #41BF78;
  --neutral: #F2F2F2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-neutral: var(--neutral);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #012340;
    --foreground: #F2F2F2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
